/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
#header {
    background-color: #EBBE29; /* Grey background */
    padding: 5px 5px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
}


/* Menu Dropup no Rodapé */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EBBE29;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 107px;
}

.footer-container {
    display: flex;
    justify-content: center;
}

/* Menu */
.dropbtn {
    background-color: #EBBE29;
    border: none;
}

.dropup {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #F0CD5C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
    background-color: #ddd;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #F0CD5C;
}

.icones {
    display: flex;
    padding: 16px;
    width: 100%;
    justify-content: space-around;
}

/* Delivery Section */
.delivery-section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

.delivery-title {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
    background-color: #EBBE29;
    padding: 10px;
    border-radius: 5px;
}

.search-container {
    margin-bottom: 70px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #666;
}

/* Responsividade para dispositivos com até 480px de largura */
@media(max-width: 480px) {

    /* Reduzindo o tamanho do cabeçalho */
    #header {
        font-size: 40px;
        padding: 10px;
    }

    /* Ajustando o espaço da barra de busca */
    .search-container {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .dois {
        flex-direction: column;
        text-align: center;
    }

    .search-container form {
        width: 100%;
    }

    input[type="text"] {
        width: 80%;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        width: 80%;
    }

    /* Ajustando o footer para dispositivos móveis */
    .footer {
        height: 120px;
        padding: 10px;
    }

    .icones {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .dropup-content {
        min-width: 140px; /* Reduzindo a largura do menu dropup */
    }

    /* Ajustando as imagens dos ícones no footer */
    .icones img {
        width: 35px;
        height: 35px;
    }

    /* Tamanho dos links no dropup */
    .dropup-content a {
        padding: 10px;
        font-size: 14px;
    }

    /* Ajuste da caixa de pesquisa */
    .search-input {
        width: 90%;
        font-size: 14px;
    }
}
